/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  src: local('Cardo'), local('Cardo-Regular'), url(https://fonts.gstatic.com/s/cardo/v10/wlp_gwjKBV1pqhv43IQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Pathway Gothic One';
  font-style: normal;
  font-weight: 400;
  src: local('Pathway Gothic One Regular'), local('PathwayGothicOne-Regular'), url(https://fonts.gstatic.com/s/pathwaygothicone/v7/MwQrbgD32-KAvjkYGNUUxAtW7pEBwx-tS1Za.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
/*Navigation*/
nav.page-navigation {
  width: 80px;
  background-color: #ebebeb;
  position: fixed;
  top: 10%;
  left: 0;
  z-index: 1000;
}
nav.page-navigation li {
  width: 100%;
}
nav.page-navigation a {
  padding: 0.6em 10%;
  width: 80%;
}
/*BIO*/
timeline-about {
  z-index: 1000;
}
.timeline-bio {
  -moz-border-radius: 6px;
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
  -webkit-border-radius: 6px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
  margin: 120px auto 120px;
  padding: 0 20px 20px;
  text-align: center;
  max-width: 700px;
  z-index: 1000;
}
.timeline-bio:hover .photo-flip {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.timeline-bio:hover .photo-flip img:first-child {
  opacity: 0;
}
.timeline-bio:hover .photo-flip img:last-child {
  opacity: 1;
}
.timeline-bio h2 {
  color: #333333;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
}
.timeline-bio h4 {
  color: #00baff;
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 25px;
}
.timeline-bio p {
  color: #666666;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
}
.timeline-photo-flip {
  -moz-box-shadow: 0 0 0 13px #f0f0f0;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 0 13px #f0f0f0;
  -webkit-transition: all 0.3s ease-in-out;
  border-radius: 100px;
  box-shadow: 0 0 0 13px #f0f0f0;
  height: 150px;
  margin: auto;
  overflow: hidden;
  position: relative;
  top: -60px;
  transition: all 0.3s ease-in-out;
  width: 150px;
}
.timeline-photo-flip img {
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  border-radius: 100px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s ease-in-out;
}
.timeline-photo-flip img:first-child {
  z-index: 1;
}
.timeline-photo-flip img:last-child {
  -webkit-transform: rotateY(180deg);
  opacity: 0;
  transform: rotateY(180deg);
  z-index: 0;
}
timeline-skills {
  z-index: 1000;
}
.timeline-skills {
  -moz-border-radius: 6px;
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
  -webkit-border-radius: 6px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
  margin: 120px auto 120px;
  padding: 0 20px 20px;
  text-align: center;
  max-width: 700px;
  z-index: 1000;
}
.timeline-skills:hover .photo-flip {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.timeline-skills:hover .photo-flip img:first-child {
  opacity: 0;
}
.timeline-skills:hover .photo-flip img:last-child {
  opacity: 1;
}
.timeline-skills h2 {
  color: #333333;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
}
.timeline-skills h4 {
  color: #00baff;
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 25px;
}
.timeline-skills p {
  color: #666666;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
}
.timeline-skills-photo-flip-hold {
  -moz-box-shadow: 0 0 0 13px #f0f0f0;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 0 13px #f0f0f0;
  -webkit-transition: all 0.3s ease-in-out;
  border-radius: 100px;
  box-shadow: 0 0 0 13px #f0f0f0;
  height: 150px;
  margin: auto;
  overflow: hidden;
  position: relative;
  top: -60px;
  transition: all 0.3s ease-in-out;
  width: 150px;
}
.timeline-skills-photo-flip-hold img {
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  border-radius: 100px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s ease-in-out;
}
.timeline-skills-photo-flip-hold img:first-child {
  z-index: 1;
}
.timeline-skills-photo-flip-hold img:last-child {
  -webkit-transform: rotateY(180deg);
  opacity: 0;
  transform: rotateY(180deg);
  z-index: 0;
}
.title-skills {
  font-family: "@font_family_1";
  font-size: 2em;
  letter-spacing: 10px;
  margin-top: 4em;
  margin: 4rem auto;
  text-align: center;
  transition: all 400ms ease-in-out;
}
.bar {
  margin: 2em auto;
  width: 80%;
}
.skill {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  text-transform: uppercase;
  text-align: left;
}
.speech-bubble {
  border-radius: 0.3em;
  display: none;
  font-size: 0.75em;
  line-height: 2em;
  min-width: 3em;
  position: absolute;
  text-align: center;
  top: -2.7em;
}
.speech-bubble:after {
  border: 0.5em solid transparent;
  content: "";
  left: 50%;
  margin-left: -0.5em;
  position: absolute;
  top: 100%;
}
.html {
  background: #fdeeed;
  left: calc(80% - 1.5em);
}
.html:after {
  border-top-color: #fdeeed;
}
.photo {
  background: #fbc9c4;
  left: calc(70% - 1.5em);
}
.photo:after {
  border-top-color: #fbc9c4;
}
.friends {
  background: #f6877c;
  left: calc(100% - 1.5em);
}
.friends:after {
  border-top-color: #f6877c;
}
.jquery {
  background: #fde4e1;
  left: calc(25% - 1.5em);
}
.jquery:after {
  border-top-color: #fde4e1;
}
.java {
  background: #fcd9d5;
  left: calc(25% - 1.5em);
}
.java:after {
  border-top-color: #fcd9d5;
}
.illustrator {
  background: #f9b3ac;
  left: calc(95% - 1.5em);
}
.illustrator:after {
  border-top-color: #f9b3ac;
}
.indesign {
  background: #f89d94;
  left: calc(50% - 1.5em);
}
.indesign:after {
  border-top-color: #f89d94;
}
.bar-outer {
  background: #EEEEEE;
  border-radius: 0.3em;
  height: 1.25em;
  position: relative;
}
.bar-inner {
  border-radius: 0.3em;
  height: 1.25em;
  width: 0;
}
.ht {
  background: #fdeeed;
}
.jq {
  background: #fde4e1;
}
.sk {
  background: #fcd9d5;
}
.ph {
  background: #fbc9c4;
}
.il {
  background: #f9b3ac;
}
.in {
  background: #f89d94;
}
.fl {
  background: #f6877c;
}
/*timeline work history*/
.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 700px;
  position: relative;
}
.timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, 0.07);
}
.timeline__content-title {
  font-weight: normal;
  font-size: 66px;
  margin: -10px 0 0 0;
  transition: 0.4s;
  padding: 0 10px;
  box-sizing: border-box;
  font-family: "Pathway Gothic One", sans-serif;
  color: #fff;
}
.timeline__content-desc {
  margin: 0;
  font-size: 15px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.7);
  font-family: Cardo;
  font-weight: normal;
  line-height: 25px;
}
.timeline-item {
  padding: 40px 0;
  opacity: 0.3;
  filter: blur(2px);
  transition: 0.5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  transform: translateY(-80px);
}
.timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  font-family: "Pathway Gothic One", sans-serif;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px);
}
.timeline-item:nth-child(even) {
  align-self: flex-end;
}
.timeline-item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px;
}
.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}
.timeline-item--active:before {
  top: 50%;
  transition: 0.3s all 0.2s;
  opacity: 1;
}
.timeline-item--active .timeline__content-title {
  margin: -50px 0 20px 0;
}
.timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}
.timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  transition: 0.3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
}
.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 99, 99, 0.8);
  content: "";
}
.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
.timeline-header__title {
  color: #fff;
  font-size: 46px;
  font-family: Cardo;
  font-weight: normal;
  margin: 0;
}
.timeline-header__subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
  margin: 10px 0 0 0;
  font-weight: normal;
}
.demo-footer {
  padding: 60px 0;
  text-align: center;
}
.demo-footer a {
  color: #999;
  display: inline-block;
  font-family: Cardo;
}
@media only screen and (max-width: 767px) {
  .timeline:before {
    left: 40px;
  }
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
  }
  .timeline-item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }
  .timeline-item:last-child {
    padding-bottom: 40px;
  }
}